footer {
    margin: 50px;
    p {
        color: #9448BC;
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            margin:  0 1rem;
            i {
                font-size: 3rem;
            }
        }
    }
}