@mixin dis( $disp , $direct ) {
    display: $disp;
    flex-direction: $direct;
}
header{
    .showcase{
        width: 100%;
        height: 550px;
        margin-bottom: 25px;
        @include dis( flex, column)
        h1 {
            font-size: 75px;
            @include dis( flex, column)
            align-items: center;
            color: map-get($colors, primario);
        }
        p a {
            color: map-get($colors, secundario);
            font-size: 1.5rem;
            padding: 1rem;  
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.cabezal {
    width: 90%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .logotipo {
        width: 70px
    }
    
}