table {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    caption-side: top;
    td,th {
        border: 2px solid lightskyblue;
        padding: 10px 20px;
    }
    caption {
        color: #9448BC ;
        font-size: 20px;
    }
}

.inscripcion {
    max-width: 300px;
    margin: 100px auto 200px auto;
}