* {
    box-sizing: border-box ;
    margin: 0 ;
    padding: 0;
}
a {
    color: #00bfff;
    text-decoration:none ;
}

ul {
    list-style: none;
}

$colors :(
    primario : #9448BC ,
    segundario : #00bfff ,
    terciario : #fff
)